#head-part
{
    width: 1400px;
    height: 70px;
    background-color: rgb(113, 124, 124);
    
}
#head-part div
{
    position: relative;
    top: 10px;
    color: aliceblue;
    font-size: 30px;
}
#body-part
{

}
