#head-part
{
    width: 200px;
    height: 1000px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: #396ddf;
    color: aliceblue;
    float: left;
}
#head-part div
{
    position: relative;
    top: 50px;
    margin: 20px;
}
#body-part
{
    left: 10px;
    float: left;
}
#body-part .h2
{

}
#body-part .h3
{

}
#body-part .normal
{

}