.center
{
    text-align:center;
}
.table-c table{border : 0p  x solid red;border:1px solid red} 
.table-c table tr{border:0px solid red;border:1px solid red}
.table-c table td{border:0px solid red;border:1px solid red} 
.higher-front{font-weight:bold }
/*body{background-color: #96cac1}*/